#content {
  margin: 1.5%;
  width: 39%;
  background-color: lightcoral;
  border: 8px solid grey;
  border-radius: 5px;
  text-align: center;
  float:left;
}

#smallerContentBox {
  margin-top: 7.5%;
  width: 40%;
  background-color: lightcoral;
  border: 8px solid grey;
  border-radius: 5px;
  text-align: center;
  float: left;
}

#smallContent1{
  margin:3%;
  width: 19%;
  background-color: skyblue;
  border: 8px solid darkgray;
  border-radius: 5px;
  text-align: center;
  float: left;
}
#smallContent2{
  margin:3%;
  width: 19%;
  background-color: rgba(12, 197, 12, 0.897);
  border: 8px solid darkgray;
  border-radius: 5px;
  text-align: center;
  float: left;
}

#smallContent3{
  margin:3%;
  margin-left: 22%;
  width: 47%;
  background-color: rgba(194, 197, 12, 0.897);
  border: 8px solid darkgray;
  border-radius: 5px;
  text-align: center;
  float: left;
}

#smallContent4Left{
  margin:3%;
  margin-left: 7.5%;
  width: 45%;
  background-color: rgba(231, 120, 28, 0.979);
  border: 8px solid darkgray;
  border-radius: 5px;
  text-align: center;
  float: left;
}

#smallContent4Right{
  margin:3%;
  margin-top: 20%;
  margin-left: 10%;
  width: 25%;
  background-color: rgba(231, 120, 28, 0.979);
  border: 8px solid darkgray;
  border-radius: 5px;
  text-align: center;
  float: left;
}

#babyParagraph{
  margin-top: 10%;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%; 
}

#greeting-container {
  margin-top: 20px;
  background-color: crimson;
  border: 2px solid grey;
  text-align: center;

}

#portfolio-header {
    margin-left: auto;
    margin-right: auto;
    width: 22%;
    background-color: gray;
    border: 4px ridge silver;
    text-align: center;
}

#divider{
    border: 2px solid darkgray;
}

body{
    background-color: slategray;
}

img {
    max-width: 90%;
    max-height: 40%;
}

li{
    text-align: left;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.smallChart{
  border-radius: 5px;
  float: middle;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 97%;
  width: 90%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.8s;
  animation-name: fade;
  animation-duration: 1.8s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

#smallImage{
    width: 100%;
    height: 225px;
}

#textBox{
    width: 90%;
    height: 50px;
}

#textBox2{
    width: 90%;
    height: 25px;
}
